
/*-----------------------------------------------
   Base Elements Styles
-----------------------------------------------*/
* {
   box-sizing: border-box;
}

body {
   font-family: 'Merriweather', serif;
   line-height: 1.2;
   font-weight: 300;
   color: #242424;
   background-color: #e9ecf1;
}

p {
   font-size: .9em;
   color: #879096;
}

/* ---- Container ---- */
.container {
   padding-left: 1em;
   padding-right: 1em;
   text-align: center;
   max-width: 600px;
   margin: 0 auto;
}

/* ---- Header/Subheader ---- */
header {
   text-align: center;
   background: #486a8d;
}

header h1 {
   color: #EEE;
   font-size: 1.2em;
   text-transform: uppercase;
   margin-top: 0;
   padding: 1.3em 0;
}

.subheader {
   padding-bottom: 1.6em;
   border-bottom: 4px solid #486a8d;
}

.subheader h2 {
   font-size: 1.2em;
   margin-top: 1.5em;
}

/* ---- Form ---- */
form {
   text-align: left;
}

fieldset {
   position: relative;
   margin-top: .2em;
   padding-top: calc(30px + 2.3em);
   border: none;
   border-top: 2px solid #486a8d;
   font-size: .9rem;
}

fieldset:nth-of-type(2) {
   padding-top: 3em;
}

fieldset:nth-of-type(2) label{
   margin-top: 24px;
}

legend {
   position: absolute;
   top: 30px;
   font-weight: 700;
   font-size: 1.2em;
}

label {
   display: block;
   margin-bottom: 4px;
}

label.light {
  display: inline;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
   border: none;
   font-size: .9rem;
   height: 56px;
   margin: 10px 0 30px;
   outline: 0;
   padding: 10px;
   width: 100%;
   background-color: #eff0f1;
   border-radius: 5px;
   box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.37);
}

input::placeholder{
   text-align: right;
   font-style: italic;
   font-size: 0.8rem;
   color: #B4B4B4;
   padding-right: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 16px 14px 0;
}

input[id="zip"] {
   width: 50%;
}

textarea {
   resize: none;
   height: 100px;
}

input:focus,
textarea:focus {
   border: 2px solid #486a8d;
   color: #fff;
   box-shadow: none;
   background-color: #597ba0;
    transition: background 1s, color .5s;
}

select {
  padding: 6px;
  height: 52px;
  border-radius: 2px;
}

button {
  padding: 20px 0;
  color: #FFF;
  background-color: #597ba0;
  font-size: 1.1em;
  border-radius: 7px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

button:hover {
   cursor: pointer;
}

/* ---- Footer ---- */
footer {
   font-style: italic;
   margin: 20px 0 50px;
}

/*-----------------------------------------------
   Media Queries
-----------------------------------------------*/
@media (min-width: 768px) {
   fieldset:first-of-type label {
      display: block;
      width: 35%;
      float: left;
      clear: both;
      margin: 10px 0 30px;
      padding: 15px 0;
   }

   fieldset:first-of-type input,
   fieldset:first-of-type select{
      width: 65%;
      float: right;
   }

   fieldset:first-of-type input[id="zip"] {
      max-width: 25%;
      float: left;
   }
}
